.login-page-section {
    background: linear-gradient(rgb(0, 13, 107, 0.6), rgb(0, 13, 107, 0.6)),
        url("../../assets/all-images/drive.jpg");
    background-position: center;
    background-size: cover;
}