.car-list-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.filtered-car-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.filtered-car-list .car__item {
    margin: 0 20px;
}

.car-filters {
    height: 750px;
    width: 250px;
    border: 1px solid #7c8a9736;
    opacity: .95;
    color: #000d6b;
    border-radius: 8px;
    padding: 30px;
}

.filter-group {
    margin-bottom: 30px;
}

.filter-button-group {
    display: flex;
    flex-wrap: wrap;
}


.filter-button-group button {
    background-color: #000d6b;
    color: white;
    border: none;
    border-radius: 4.4px;
    padding: 6px 10px;
    margin: 2px !important;
}

.filter-button-group button:hover {
    background-color: crimson;
    color: white;
}

.filter-button-group-button-clicked {
    background-color: crimson !important;
    color: white !important;
}


@media (max-width: 1199.98px) {

    .car-list-content {
        flex-direction: column;
        align-items: center;
    }

    .filtered-car-list {
        width: 100%;
    }

    .car-filters {
        width: 100%;
        height: fit-content;
        margin-bottom: 30px;
    }

    .filtered-car-list {
        justify-content: space-between;
    }

    .filtered-car-list .car__item {
        margin: 0;
    }
}